<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="shortcut icon" href="{% static '/img/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/css/signup.css' %}">
    <link rel="stylesheet" href="{% static '/css/toggle.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Create Blogs</title>
</head>
<body>
    <script src="{% static '/js/profilePic.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Navbar -->
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <a class="navbar-brand" href="/">
                    <img src="{% static '/img/logo.png' %}" alt="ClashGamers" width="35" height="35">
                    Hospital Management
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
                    <div class="d-flex">
                        <a href="/bloglist/"><button class="btn btn-outline-primary mx-4">My Blogs</button></a>
                    </div>
                    <div class="d-flex">
                        <a href="/doctorDashboard/"><button class="btn btn-outline-primary mx-4">Dashboard</button></a>
                    </div>
                    <div class="d-flex">
                        <a href="/logout/"><button class="btn btn-outline-primary mx-4">Log out</button></a>
                    </div>
                </div>
            </div>
        </nav>

        <main style="display: flex;">
            {% if drafts %}
            {% for draft in drafts %}
            <div class="card mx-5 my-5" style="width: 18rem;">
                <div class="card-header">
                  {{ draft.Categories }}
                </div>
                <div class="card-body">
                  <img src="/media/{{ draft.Image }}" class="card-img-top" alt="..." style="padding: 5px">
                  <h5 class="card-title">{{ draft.Title }}</h5>
                  <p class="card-text">
                    {% if draft.Summary|length > 15 %}
                      {{ draft.Summary|truncatechars:15 }}
                    {% else %}
                      {{ draft.Summary }}
                    {% endif %}
                  </p>
                  <a href="/createblog/" type="submit" class="btn btn-primary">Edit</a>
                </div>
              </div>
            {% endfor %}
            {% endif %}
        </main>
</body>
</html>