<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="shortcut icon" href="{% static '/img/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/css/landing.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Doctor Dashboard</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Navbar -->
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <a class="navbar-brand" href="/">
                    <img src="{% static '/img/logo.png' %}" alt="ClashGamers" width="35" height="35">
                    Hospital Management
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
                    <div class="d-flex">
                        <a href="/createblog/"><button class="btn btn-outline-primary mx-4">Blog Post</button></a>
                    </div>
                    <div class="d-flex">
                        <a href="/doctorDashboard/"><button class="btn btn-outline-primary mx-4">Dashboard</button></a>
                    </div>
                    <div class="d-flex">
                        <a href="/logout/"><button class="btn btn-outline-primary mx-4">Log out</button></a>
                    </div>
                </div>
            </div>
        </nav>
        <main>
            <div id="Accounts" class="container-xxl" style="margin-top: 5%;">
                <h3>Appoinment List:</h3>
                <div class="container-sm" style="margin-top: 20px;"> 
                    <h4>Details of Patients</h4>
                    <div class="row">
                        <div class="col">
                            <div id="seeAllAccount">
                                <div class="card card-body">
                                    <table class="table table-dark table-striped">
                                        <thead style="text-align: center;">
                                          <tr>
                                            <th scope="col">Username</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Start Time</th>
                                            <th scope="col">End Time</th>
                                          </tr>
                                        </thead>
                                        <tbody style="text-align: center;">
                                        {% for eachAcc in patient %}
                                        <tr>
                                            <td>{{eachAcc.patientUsername}}</td>
                                            <th scope="row">{{eachAcc.nameOfPatient}}</th>
                                            <td>{{eachAcc.startTime}}</td>
                                            <td>{{eachAcc.endTime}}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                      </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
</body>
</html>